.DS_Store
node_modules
.turbo
*.log
dist
*.local
.env
.env.*.local
.cache
.eslintcache
.cspellcache
.claude/settings.local.json
.claude/worktrees
/reports/
coverage/
*.tsbuildinfo
**/.terraform
**/.terraform-lint
dev-dist
.migration
