.bars {
  display: flex;
  gap: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: var(--mantine-spacing-xs);
}

.progress {
  flex-grow: 1;
  max-width: var(--group-child-width);
}

.requirement {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--mantine-color-red-text);
  font-size: var(--mantine-font-size-sm);
  line-height: var(--mantine-line-height-sm);
}

.requirement[data-valid='true'] {
  color: var(--mantine-color-teal-text);
}
