.root {
  --link-x-margin: 0.375rem;
  --collapsed-width: 3.25rem;
  --expanded-width: 14rem;

  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: var(--collapsed-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition-property: width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  flex-grow: 1;
  background-color: var(--mantine-color-body);

  @mixin light {
    border-right: 1px solid var(--mantine-color-gray-3);
  }

  @mixin dark {
    border-right: 1px solid var(--mantine-color-dark-4);
  }

  :global(.mantine-NavLink-root) {
    height: 40px;
    padding: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-default);
    margin-left: var(--link-x-margin);
    margin-right: var(--link-x-margin);
  }

  :global(
      .mantine-NavLink-root:not(
          .mantine-NavLink-children > .mantine-NavLink-root
        )
    ) {
    width: calc(var(--collapsed-width) - var(--link-x-margin) * 2);
    align-items: center;
    justify-items: center;
    transition-property: width;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;

    & > :global(.mantine-NavLink-section) {
      &[data-position='left'] {
        margin-inline-end: 0;
      }

      &[data-position='right'] {
        position: absolute;
        transition-property: opacity;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 200ms;
        animation-delay: 100ms;
        right: var(--mantine-spacing-md);
        opacity: 0;
      }
    }

    :global(.mantine-NavLink-body) {
      position: absolute;
      opacity: 0;
      transition-property: opacity, left;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      left: 3rem;
      white-space: nowrap;
    }
  }

  :global(.mantine-NavLink-children) {
    padding-inline-start: 0;
    transition-property: padding-inline-start;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }

  :global(.mantine-NavLink-children) > :global(.mantine-NavLink-root) {
    width: calc(100% - var(--link-x-margin) * 2);
  }

  &[data-state='expanded'] {
    width: var(--expanded-width);

    :global(.mantine-NavLink-children) {
      padding-inline-start: var(--mantine-spacing-xs);
    }

    :global(
        .mantine-NavLink-root:not(
            .mantine-NavLink-children > .mantine-NavLink-root
          )
      ) {
      width: calc(100% - var(--link-x-margin) * 2);
      justify-items: start;

      & > :global(.mantine-NavLink-section) {
        &[data-position='right'] {
          opacity: 100;
        }
      }

      & > :global(.mantine-NavLink-body) {
        opacity: 100;
      }
    }
  }
}
