.authFormHeader {
  width: calc(100% - (2 * var(--auth-form-padding)));
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  margin-left: var(--auth-form-padding);
  margin-right: var(--auth-form-padding);
  margin-bottom: var(--mantine-spacing-md);
  gap: var(--mantine-spacing-xs);
  padding-bottom: var(--mantine-spacing-md);

  @mixin where-light {
    border-color: var(--mantine-color-gray-3);
  }

  @mixin where-dark {
    border-color: var(--mantine-color-dark-4);
  }
}

.title {
  text-align: center;
  font-size: var(--mantine-h3-font-size);
  line-height: var(--mantine-h3-line-height);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
}

@media (min-width: 576px) {
  .authFormHeader {
    width: 370px;
    margin-left: unset;
    margin-right: unset;
  }

  .title {
    width: 370px;
  }
}
