@import 'tailwindcss';

@custom-variant dark (&:where([data-mantine-color-scheme="dark"], [data-mantine-color-scheme="dark"] *));


@theme inline {
  /* START TAILWIND + MANTINE */
  --breakpoint-xs: 36em;
  --breakpoint-sm: 48em;
  --breakpoint-md: 62em;
  --breakpoint-lg: 75em;
  --breakpoint-xl: 88em;
  --breakpoint-2xl: 96rem;

  --color-white: var(--mantine-color-white, rgb(255, 255, 255));
  --color-black: var(--mantine-color-black, rgb(0, 0, 0));

  --color-dark-0: var(--mantine-color-dark-0, rgb(201, 201, 201));
  --color-dark-1: var(--mantine-color-dark-1, rgb(184, 184, 184));
  --color-dark-2: var(--mantine-color-dark-2, rgb(130, 130, 130));
  --color-dark-3: var(--mantine-color-dark-3, rgb(105, 105, 105));
  --color-dark-4: var(--mantine-color-dark-4, rgb(66, 66, 66));
  --color-dark-5: var(--mantine-color-dark-5, rgb(59, 59, 59));
  --color-dark-6: var(--mantine-color-dark-6, rgb(46, 46, 46));
  --color-dark-7: var(--mantine-color-dark-7, rgb(36, 36, 36));
  --color-dark-8: var(--mantine-color-dark-8, rgb(31, 31, 31));
  --color-dark-9: var(--mantine-color-dark-9, rgb(20, 20, 20));

  --color-gray-0: var(--mantine-color-gray-0, rgb(248, 249, 250));
  --color-gray-1: var(--mantine-color-gray-1, rgb(241, 243, 245));
  --color-gray-2: var(--mantine-color-gray-2, rgb(233, 236, 239));
  --color-gray-3: var(--mantine-color-gray-3, rgb(222, 226, 230));
  --color-gray-4: var(--mantine-color-gray-4, rgb(206, 212, 218));
  --color-gray-5: var(--mantine-color-gray-5, rgb(173, 181, 189));
  --color-gray-6: var(--mantine-color-gray-6, rgb(134, 142, 150));
  --color-gray-7: var(--mantine-color-gray-7, rgb(73, 80, 87));
  --color-gray-8: var(--mantine-color-gray-8, rgb(52, 58, 64));
  --color-gray-9: var(--mantine-color-gray-9, rgb(33, 37, 41));

  --color-red-0: var(--mantine-color-red-0, rgb(255, 245, 245));
  --color-red-1: var(--mantine-color-red-1, rgb(255, 227, 227));
  --color-red-2: var(--mantine-color-red-2, rgb(255, 201, 201));
  --color-red-3: var(--mantine-color-red-3, rgb(255, 168, 168));
  --color-red-4: var(--mantine-color-red-4, rgb(255, 135, 135));
  --color-red-5: var(--mantine-color-red-5, rgb(255, 107, 107));
  --color-red-6: var(--mantine-color-red-6, rgb(250, 82, 82));
  --color-red-7: var(--mantine-color-red-7, rgb(240, 62, 62));
  --color-red-8: var(--mantine-color-red-8, rgb(224, 49, 49));
  --color-red-9: var(--mantine-color-red-9, rgb(201, 42, 42));
  --color-pink-0: var(--mantine-color-pink-0, rgb(255, 240, 246));
  --color-pink-1: var(--mantine-color-pink-1, rgb(255, 222, 235));
  --color-pink-2: var(--mantine-color-pink-2, rgb(252, 194, 215));
  --color-pink-3: var(--mantine-color-pink-3, rgb(250, 162, 193));
  --color-pink-4: var(--mantine-color-pink-4, rgb(247, 131, 172));
  --color-pink-5: var(--mantine-color-pink-5, rgb(240, 101, 149));
  --color-pink-6: var(--mantine-color-pink-6, rgb(230, 73, 128));
  --color-pink-7: var(--mantine-color-pink-7, rgb(214, 51, 108));
  --color-pink-8: var(--mantine-color-pink-8, rgb(194, 37, 92));
  --color-pink-9: var(--mantine-color-pink-9, rgb(166, 30, 77));
  --color-grape-0: var(--mantine-color-grape-0, rgb(248, 240, 252));
  --color-grape-1: var(--mantine-color-grape-1, rgb(243, 217, 250));
  --color-grape-2: var(--mantine-color-grape-2, rgb(238, 190, 250));
  --color-grape-3: var(--mantine-color-grape-3, rgb(229, 153, 247));
  --color-grape-4: var(--mantine-color-grape-4, rgb(218, 119, 242));
  --color-grape-5: var(--mantine-color-grape-5, rgb(204, 93, 232));
  --color-grape-6: var(--mantine-color-grape-6, rgb(190, 75, 219));
  --color-grape-7: var(--mantine-color-grape-7, rgb(174, 62, 201));
  --color-grape-8: var(--mantine-color-grape-8, rgb(156, 54, 181));
  --color-grape-9: var(--mantine-color-grape-9, rgb(134, 46, 156));
  --color-violet-0: var(--mantine-color-violet-0, rgb(243, 240, 255));
  --color-violet-1: var(--mantine-color-violet-1, rgb(229, 219, 255));
  --color-violet-2: var(--mantine-color-violet-2, rgb(208, 191, 255));
  --color-violet-3: var(--mantine-color-violet-3, rgb(177, 151, 252));
  --color-violet-4: var(--mantine-color-violet-4, rgb(151, 117, 250));
  --color-violet-5: var(--mantine-color-violet-5, rgb(132, 94, 247));
  --color-violet-6: var(--mantine-color-violet-6, rgb(121, 80, 242));
  --color-violet-7: var(--mantine-color-violet-7, rgb(112, 72, 232));
  --color-violet-8: var(--mantine-color-violet-8, rgb(103, 65, 217));
  --color-violet-9: var(--mantine-color-violet-9, rgb(95, 61, 196));
  --color-indigo-0: var(--mantine-color-indigo-0, rgb(237, 242, 255));
  --color-indigo-1: var(--mantine-color-indigo-1, rgb(219, 228, 255));
  --color-indigo-2: var(--mantine-color-indigo-2, rgb(186, 200, 255));
  --color-indigo-3: var(--mantine-color-indigo-3, rgb(145, 167, 255));
  --color-indigo-4: var(--mantine-color-indigo-4, rgb(116, 143, 252));
  --color-indigo-5: var(--mantine-color-indigo-5, rgb(92, 124, 250));
  --color-indigo-6: var(--mantine-color-indigo-6, rgb(76, 110, 245));
  --color-indigo-7: var(--mantine-color-indigo-7, rgb(66, 99, 235));
  --color-indigo-8: var(--mantine-color-indigo-8, rgb(59, 91, 219));
  --color-indigo-9: var(--mantine-color-indigo-9, rgb(54, 79, 199));
  --color-blue-0: var(--mantine-color-blue-0, rgb(231, 245, 255));
  --color-blue-1: var(--mantine-color-blue-1, rgb(208, 235, 255));
  --color-blue-2: var(--mantine-color-blue-2, rgb(165, 216, 255));
  --color-blue-3: var(--mantine-color-blue-3, rgb(116, 192, 252));
  --color-blue-4: var(--mantine-color-blue-4, rgb(77, 171, 247));
  --color-blue-5: var(--mantine-color-blue-5, rgb(51, 154, 240));
  --color-blue-6: var(--mantine-color-blue-6, rgb(34, 139, 230));
  --color-blue-7: var(--mantine-color-blue-7, rgb(28, 126, 214));
  --color-blue-8: var(--mantine-color-blue-8, rgb(25, 113, 194));
  --color-blue-9: var(--mantine-color-blue-9, rgb(24, 100, 171));
  --color-cyan-0: var(--mantine-color-cyan-0, rgb(227, 250, 252));
  --color-cyan-1: var(--mantine-color-cyan-1, rgb(197, 246, 250));
  --color-cyan-2: var(--mantine-color-cyan-2, rgb(153, 233, 242));
  --color-cyan-3: var(--mantine-color-cyan-3, rgb(102, 217, 232));
  --color-cyan-4: var(--mantine-color-cyan-4, rgb(59, 201, 219));
  --color-cyan-5: var(--mantine-color-cyan-5, rgb(34, 184, 207));
  --color-cyan-6: var(--mantine-color-cyan-6, rgb(21, 170, 191));
  --color-cyan-7: var(--mantine-color-cyan-7, rgb(16, 152, 173));
  --color-cyan-8: var(--mantine-color-cyan-8, rgb(12, 133, 153));
  --color-cyan-9: var(--mantine-color-cyan-9, rgb(11, 114, 133));
  --color-teal-0: var(--mantine-color-teal-0, rgb(230, 252, 245));
  --color-teal-1: var(--mantine-color-teal-1, rgb(195, 250, 232));
  --color-teal-2: var(--mantine-color-teal-2, rgb(150, 242, 215));
  --color-teal-3: var(--mantine-color-teal-3, rgb(99, 230, 190));
  --color-teal-4: var(--mantine-color-teal-4, rgb(56, 217, 169));
  --color-teal-5: var(--mantine-color-teal-5, rgb(32, 201, 151));
  --color-teal-6: var(--mantine-color-teal-6, rgb(18, 184, 134));
  --color-teal-7: var(--mantine-color-teal-7, rgb(12, 166, 120));
  --color-teal-8: var(--mantine-color-teal-8, rgb(9, 146, 104));
  --color-teal-9: var(--mantine-color-teal-9, rgb(8, 127, 91));
  --color-green-0: var(--mantine-color-green-0, rgb(235, 251, 238));
  --color-green-1: var(--mantine-color-green-1, rgb(211, 249, 216));
  --color-green-2: var(--mantine-color-green-2, rgb(178, 242, 187));
  --color-green-3: var(--mantine-color-green-3, rgb(140, 233, 154));
  --color-green-4: var(--mantine-color-green-4, rgb(105, 219, 124));
  --color-green-5: var(--mantine-color-green-5, rgb(81, 207, 102));
  --color-green-6: var(--mantine-color-green-6, rgb(64, 192, 87));
  --color-green-7: var(--mantine-color-green-7, rgb(55, 178, 77));
  --color-green-8: var(--mantine-color-green-8, rgb(47, 158, 68));
  --color-green-9: var(--mantine-color-green-9, rgb(43, 138, 62));
  --color-lime-0: var(--mantine-color-lime-0, rgb(244, 252, 227));
  --color-lime-1: var(--mantine-color-lime-1, rgb(233, 250, 200));
  --color-lime-2: var(--mantine-color-lime-2, rgb(216, 245, 162));
  --color-lime-3: var(--mantine-color-lime-3, rgb(192, 235, 117));
  --color-lime-4: var(--mantine-color-lime-4, rgb(169, 227, 75));
  --color-lime-5: var(--mantine-color-lime-5, rgb(148, 216, 45));
  --color-lime-6: var(--mantine-color-lime-6, rgb(130, 201, 30));
  --color-lime-7: var(--mantine-color-lime-7, rgb(116, 184, 22));
  --color-lime-8: var(--mantine-color-lime-8, rgb(102, 168, 15));
  --color-lime-9: var(--mantine-color-lime-9, rgb(92, 148, 13));
  --color-yellow-0: var(--mantine-color-yellow-0, rgb(255, 249, 219));
  --color-yellow-1: var(--mantine-color-yellow-1, rgb(255, 243, 191));
  --color-yellow-2: var(--mantine-color-yellow-2, rgb(255, 236, 153));
  --color-yellow-3: var(--mantine-color-yellow-3, rgb(255, 224, 102));
  --color-yellow-4: var(--mantine-color-yellow-4, rgb(255, 212, 59));
  --color-yellow-5: var(--mantine-color-yellow-5, rgb(252, 196, 25));
  --color-yellow-6: var(--mantine-color-yellow-6, rgb(250, 176, 5));
  --color-yellow-7: var(--mantine-color-yellow-7, rgb(245, 159, 0));
  --color-yellow-8: var(--mantine-color-yellow-8, rgb(240, 140, 0));
  --color-yellow-9: var(--mantine-color-yellow-9, rgb(230, 119, 0));
  --color-orange-0: var(--mantine-color-orange-0, rgb(255, 244, 230));
  --color-orange-1: var(--mantine-color-orange-1, rgb(255, 232, 204));
  --color-orange-2: var(--mantine-color-orange-2, rgb(255, 216, 168));
  --color-orange-3: var(--mantine-color-orange-3, rgb(255, 192, 120));
  --color-orange-4: var(--mantine-color-orange-4, rgb(255, 169, 77));
  --color-orange-5: var(--mantine-color-orange-5, rgb(255, 146, 43));
  --color-orange-6: var(--mantine-color-orange-6, rgb(253, 126, 20));
  --color-orange-7: var(--mantine-color-orange-7, rgb(247, 103, 7));
  --color-orange-8: var(--mantine-color-orange-8, rgb(232, 89, 12));
  --color-orange-9: var(--mantine-color-orange-9, rgb(217, 72, 15));

  --color-primary-0: var(--mantine-primary-color-0);
  --color-primary-1: var(--mantine-primary-color-1);
  --color-primary-2: var(--mantine-primary-color-2);
  --color-primary-3: var(--mantine-primary-color-3);
  --color-primary-4: var(--mantine-primary-color-4);
  --color-primary-5: var(--mantine-primary-color-5);
  --color-primary-6: var(--mantine-primary-color-6);
  --color-primary-7: var(--mantine-primary-color-7);
  --color-primary-8: var(--mantine-primary-color-8);
  --color-primary-9: var(--mantine-primary-color-9);

  --mantine-primary-color-contrast: var(--mantine-primary-color-contrast, rgb(255, 255, 255));
  --mantine-color-bright: var(--mantine-color-bright, rgb(0, 0, 0));
  --color-text: var(--mantine-color-text, rgb(0, 0, 0));
  --color-body: var(--mantine-color-body, rgb(255, 255, 255));
  --mantine-color-error: var(--mantine-color-error, rgb(250, 82, 82));
  --mantine-color-placeholder: var(--mantine-color-placeholder, rgb(173, 181, 189));
  --color-anchor: var(--mantine-color-anchor, rgb(34, 139, 230));
  --color-default: var(--mantine-color-default, rgb(255, 255, 255));
  --color-default-hover: var(--mantine-color-default-hover, rgb(248, 249, 250));
  --color-default-color: var(--mantine-color-default-color, rgb(0, 0, 0));
  --color-default-border: var(--mantine-color-default-border, rgb(206, 212, 218));
  --color-dimmed: var(--mantine-color-dimmed, rgb(134, 142, 150));
  --color-disabled: var(--mantine-color-disabled, rgb(233, 236, 239));
  --color-disabled-color: var(--mantine-color-disabled-color, rgb(173, 181, 189));
  --color-disabled-border: var(--mantine-color-disabled-border, rgb(222, 226, 230));
  --color-dark-text: var(--mantine-color-dark-text, rgb(46, 46, 46));
  --color-dark-filled: var(--mantine-color-dark-filled, rgb(46, 46, 46));
  --color-dark-filled-hover: var(--mantine-color-dark-filled-hover, rgb(36, 36, 36));
  --color-dark-light: var(--mantine-color-dark-light, rgba(46, 46, 46, 0.1));
  --color-dark-light-hover: var(--mantine-color-dark-light-hover, rgba(46, 46, 46, 0.12));
  --color-dark-light-color: var(--mantine-color-dark-light-color, rgb(46, 46, 46));
  --color-dark-outline: var(--mantine-color-dark-outline, rgb(46, 46, 46));
  --color-dark-outline-hover: var(--mantine-color-dark-outline-hover, rgba(46, 46, 46, 0.05));
  --color-gray-text: var(--mantine-color-gray-text, rgb(134, 142, 150));
  --color-gray-filled: var(--mantine-color-gray-filled, rgb(134, 142, 150));
  --color-gray-filled-hover: var(--mantine-color-gray-filled-hover, rgb(73, 80, 87));
  --color-gray-light: var(--mantine-color-gray-light, rgba(134, 142, 150, 0.1));
  --color-gray-light-hover: var(--mantine-color-gray-light-hover, rgba(134, 142, 150, 0.12));
  --color-gray-light-color: var(--mantine-color-gray-light-color, rgb(134, 142, 150));
  --color-gray-outline: var(--mantine-color-gray-outline, rgb(134, 142, 150));
  --color-gray-outline-hover: var(--mantine-color-gray-outline-hover, rgba(134, 142, 150, 0.05));
  --color-red-text: var(--mantine-color-red-text, rgb(250, 82, 82));
  --color-red-filled: var(--mantine-color-red-filled, rgb(250, 82, 82));
  --color-red-filled-hover: var(--mantine-color-red-filled-hover, rgb(240, 62, 62));
  --color-red-light: var(--mantine-color-red-light, rgba(250, 82, 82, 0.1));
  --color-red-light-hover: var(--mantine-color-red-light-hover, rgba(250, 82, 82, 0.12));
  --color-red-light-color: var(--mantine-color-red-light-color, rgb(250, 82, 82));
  --color-red-outline: var(--mantine-color-red-outline, rgb(250, 82, 82));
  --color-red-outline-hover: var(--mantine-color-red-outline-hover, rgba(250, 82, 82, 0.05));
  --color-pink-text: var(--mantine-color-pink-text, rgb(230, 73, 128));
  --color-pink-filled: var(--mantine-color-pink-filled, rgb(230, 73, 128));
  --color-pink-filled-hover: var(--mantine-color-pink-filled-hover, rgb(214, 51, 108));
  --color-pink-light: var(--mantine-color-pink-light, rgba(230, 73, 128, 0.1));
  --color-pink-light-hover: var(--mantine-color-pink-light-hover, rgba(230, 73, 128, 0.12));
  --color-pink-light-color: var(--mantine-color-pink-light-color, rgb(230, 73, 128));
  --color-pink-outline: var(--mantine-color-pink-outline, rgb(230, 73, 128));
  --color-pink-outline-hover: var(--mantine-color-pink-outline-hover, rgba(230, 73, 128, 0.05));
  --color-grape-text: var(--mantine-color-grape-text, rgb(190, 75, 219));
  --color-grape-filled: var(--mantine-color-grape-filled, rgb(190, 75, 219));
  --color-grape-filled-hover: var(--mantine-color-grape-filled-hover, rgb(174, 62, 201));
  --color-grape-light: var(--mantine-color-grape-light, rgba(190, 75, 219, 0.1));
  --color-grape-light-hover: var(--mantine-color-grape-light-hover, rgba(190, 75, 219, 0.12));
  --color-grape-light-color: var(--mantine-color-grape-light-color, rgb(190, 75, 219));
  --color-grape-outline: var(--mantine-color-grape-outline, rgb(190, 75, 219));
  --color-grape-outline-hover: var(--mantine-color-grape-outline-hover, rgba(190, 75, 219, 0.05));
  --color-violet-text: var(--mantine-color-violet-text, rgb(121, 80, 242));
  --color-violet-filled: var(--mantine-color-violet-filled, rgb(121, 80, 242));
  --color-violet-filled-hover: var(--mantine-color-violet-filled-hover, rgb(112, 72, 232));
  --color-violet-light: var(--mantine-color-violet-light, rgba(121, 80, 242, 0.1));
  --color-violet-light-hover: var(--mantine-color-violet-light-hover, rgba(121, 80, 242, 0.12));
  --color-violet-light-color: var(--mantine-color-violet-light-color, rgb(121, 80, 242));
  --color-violet-outline: var(--mantine-color-violet-outline, rgb(121, 80, 242));
  --color-violet-outline-hover: var(--mantine-color-violet-outline-hover, rgba(121, 80, 242, 0.05));
  --color-indigo-text: var(--mantine-color-indigo-text, rgb(76, 110, 245));
  --color-indigo-filled: var(--mantine-color-indigo-filled, rgb(76, 110, 245));
  --color-indigo-filled-hover: var(--mantine-color-indigo-filled-hover, rgb(66, 99, 235));
  --color-indigo-light: var(--mantine-color-indigo-light, rgba(76, 110, 245, 0.1));
  --color-indigo-light-hover: var(--mantine-color-indigo-light-hover, rgba(76, 110, 245, 0.12));
  --color-indigo-light-color: var(--mantine-color-indigo-light-color, rgb(76, 110, 245));
  --color-indigo-outline: var(--mantine-color-indigo-outline, rgb(76, 110, 245));
  --color-indigo-outline-hover: var(--mantine-color-indigo-outline-hover, rgba(76, 110, 245, 0.05));
  --color-blue-text: var(--mantine-color-blue-text, rgb(34, 139, 230));
  --color-blue-filled: var(--mantine-color-blue-filled, rgb(34, 139, 230));
  --color-blue-filled-hover: var(--mantine-color-blue-filled-hover, rgb(28, 126, 214));
  --color-blue-light: var(--mantine-color-blue-light, rgba(34, 139, 230, 0.1));
  --color-blue-light-hover: var(--mantine-color-blue-light-hover, rgba(34, 139, 230, 0.12));
  --color-blue-light-color: var(--mantine-color-blue-light-color, rgb(34, 139, 230));
  --color-blue-outline: var(--mantine-color-blue-outline, rgb(34, 139, 230));
  --color-blue-outline-hover: var(--mantine-color-blue-outline-hover, rgba(34, 139, 230, 0.05));
  --color-cyan-text: var(--mantine-color-cyan-text, rgb(21, 170, 191));
  --color-cyan-filled: var(--mantine-color-cyan-filled, rgb(21, 170, 191));
  --color-cyan-filled-hover: var(--mantine-color-cyan-filled-hover, rgb(16, 152, 173));
  --color-cyan-light: var(--mantine-color-cyan-light, rgba(21, 170, 191, 0.1));
  --color-cyan-light-hover: var(--mantine-color-cyan-light-hover, rgba(21, 170, 191, 0.12));
  --color-cyan-light-color: var(--mantine-color-cyan-light-color, rgb(21, 170, 191));
  --color-cyan-outline: var(--mantine-color-cyan-outline, rgb(21, 170, 191));
  --color-cyan-outline-hover: var(--mantine-color-cyan-outline-hover, rgba(21, 170, 191, 0.05));
  --color-teal-text: var(--mantine-color-teal-text, rgb(18, 184, 134));
  --color-teal-filled: var(--mantine-color-teal-filled, rgb(18, 184, 134));
  --color-teal-filled-hover: var(--mantine-color-teal-filled-hover, rgb(12, 166, 120));
  --color-teal-light: var(--mantine-color-teal-light, rgba(18, 184, 134, 0.1));
  --color-teal-light-hover: var(--mantine-color-teal-light-hover, rgba(18, 184, 134, 0.12));
  --color-teal-light-color: var(--mantine-color-teal-light-color, rgb(18, 184, 134));
  --color-teal-outline: var(--mantine-color-teal-outline, rgb(18, 184, 134));
  --color-teal-outline-hover: var(--mantine-color-teal-outline-hover, rgba(18, 184, 134, 0.05));
  --color-green-text: var(--mantine-color-green-text, rgb(64, 192, 87));
  --color-green-filled: var(--mantine-color-green-filled, rgb(64, 192, 87));
  --color-green-filled-hover: var(--mantine-color-green-filled-hover, rgb(55, 178, 77));
  --color-green-light: var(--mantine-color-green-light, rgba(64, 192, 87, 0.1));
  --color-green-light-hover: var(--mantine-color-green-light-hover, rgba(64, 192, 87, 0.12));
  --color-green-light-color: var(--mantine-color-green-light-color, rgb(64, 192, 87));
  --color-green-outline: var(--mantine-color-green-outline, rgb(64, 192, 87));
  --color-green-outline-hover: var(--mantine-color-green-outline-hover, rgba(64, 192, 87, 0.05));
  --color-lime-text: var(--mantine-color-lime-text, rgb(130, 201, 30));
  --color-lime-filled: var(--mantine-color-lime-filled, rgb(130, 201, 30));
  --color-lime-filled-hover: var(--mantine-color-lime-filled-hover, rgb(116, 184, 22));
  --color-lime-light: var(--mantine-color-lime-light, rgba(130, 201, 30, 0.1));
  --color-lime-light-hover: var(--mantine-color-lime-light-hover, rgba(130, 201, 30, 0.12));
  --color-lime-light-color: var(--mantine-color-lime-light-color, rgb(130, 201, 30));
  --color-lime-outline: var(--mantine-color-lime-outline, rgb(130, 201, 30));
  --color-lime-outline-hover: var(--mantine-color-lime-outline-hover, rgba(130, 201, 30, 0.05));
  --color-yellow-text: var(--mantine-color-yellow-text, rgb(250, 176, 5));
  --color-yellow-filled: var(--mantine-color-yellow-filled, rgb(250, 176, 5));
  --color-yellow-filled-hover: var(--mantine-color-yellow-filled-hover, rgb(245, 159, 0));
  --color-yellow-light: var(--mantine-color-yellow-light, rgba(250, 176, 5, 0.1));
  --color-yellow-light-hover: var(--mantine-color-yellow-light-hover, rgba(250, 176, 5, 0.12));
  --color-yellow-light-color: var(--mantine-color-yellow-light-color, rgb(250, 176, 5));
  --color-yellow-outline: var(--mantine-color-yellow-outline, rgb(250, 176, 5));
  --color-yellow-outline-hover: var(--mantine-color-yellow-outline-hover, rgba(250, 176, 5, 0.05));
  --color-orange-text: var(--mantine-color-orange-text, rgb(253, 126, 20));
  --color-orange-filled: var(--mantine-color-orange-filled, rgb(253, 126, 20));
  --color-orange-filled-hover: var(--mantine-color-orange-filled-hover, rgb(247, 103, 7));
  --color-orange-light: var(--mantine-color-orange-light, rgba(253, 126, 20, 0.1));
  --color-orange-light-hover: var(--mantine-color-orange-light-hover, rgba(253, 126, 20, 0.12));
  --color-orange-light-color: var(--mantine-color-orange-light-color, rgb(253, 126, 20));
  --color-orange-outline: var(--mantine-color-orange-outline, rgb(253, 126, 20));
  --color-orange-outline-hover: var(--mantine-color-orange-outline-hover, rgba(253, 126, 20, 0.05));

  --color-primary-text: var(--mantine-primary-color-text, rgb(34, 139, 230));
  --color-primary-filled: var(--mantine-primary-color-filled, rgb(34, 139, 230));
  --color-primary-filled-hover: var(--mantine-primary-color-filled-hover, rgb(28, 126, 214));
  --color-primary-light: var(--mantine-primary-color-light, rgba(34, 139, 230, 0.1));
  --color-primary-light-hover: var(--mantine-primary-color-light-hover, rgba(34, 139, 230, 0.12));
  --color-primary-light-color: var(--mantine-primary-color-light-color, rgb(34, 139, 230));
  --color-primary-outline: var(--mantine-primary-color-outline, rgb(34, 139, 230));
  --color-primary-outline-hover: var(--mantine-primary-color-outline-hover, rgba(34, 139, 230, 0.05));

  --radius-default: var(--mantine-radius-default);
  --radius-xs: var(--mantine-radius-xs);
  --radius-sm: var(--mantine-radius-sm);
  --radius-md: var(--mantine-radius-md);
  --radius-lg: var(--mantine-radius-lg);
  --radius-xl: var(--mantine-radius-xl);

  --spacing-xs: var(--mantine-spacing-xs);
  --spacing-sm: var(--mantine-spacing-sm);
  --spacing-md: var(--mantine-spacing-md);
  --spacing-lg: var(--mantine-spacing-lg);
  --spacing-xl: var(--mantine-spacing-xl);
  /* END TAILWIND + MANTINE */
}