.userNavButton {
  border: 0;
  background-color: transparent;
  text-align: left;
}

.userNavButton,
.userNavButtonLoading {
  margin: 0 4px;
  padding: 0.375rem 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: var(--mantine-radius-default);
  cursor: pointer;

  &:hover,
  &[data-opened='true'] {
    @mixin where-light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin where-dark {
      background-color: var(--mantine-color-dark-6);
    }
  }
}
