# Copy to .env.development.local
MODE=development
PORT=5100
LOG_LEVEL=debug
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5200/postgres
BETTER_AUTH_URL=http://localhost:5100
BETTER_AUTH_SECRET=change-me-to-32-plus-random-characters
WEB_URL=http://localhost:5000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
UPLOADS_BUCKET=colist-production-uploads
AWS_PROFILE=voto-a-voto
